h2{
   color: mediumseagreen; 
}

body {
    background-color: lightblue;

}
h1 {
    font-size: 40px;
    color:aliceblue;
}

ul {
    
    background-color: crimson;
    border: 5px solid greenyellow;
}

img {
    height: 500px;
    border: 3px solid magenta;
}

 